@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B0F19;
    --foreground: #94A3B8;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-body antialiased selection:bg-magic-dark selection:text-white;
  }
}

@layer components {
  /* Toggle Switch Checkbox CSS */
  .toggle-checkbox:checked {
    @apply right-0 border-magic-core bg-magic-core;
    right: 0;
    border-color: #6366F1;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-magic-dark;
    background-color: #4338CA;
  }
  
  /* Scrollbar HUD Style */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0B0F19; 
  }
  ::-webkit-scrollbar-thumb {
    background: #2A3655; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6366F1; 
  }
}
